    <div class="row">
      <div class="medium-6 columns">
        <h4>Landon Hotel App {{ branch | upper }}</h4>
        <img width="600" class="thumbnail" src="{{ asset('images/attractions.jpg') }}">
      </div>
      <div class="medium-6 large-5 columns">
        <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in.</p>
        <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in.</p>
        <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in.</p>
      </div>
      <div>
        {% for client in clients %}
        <p><b>{{client.name}} {{client.last_name}},  {{client.email}}</b></p>
        {% endfor %}
      </div>
    </div>
